
@media only screen and (max-width: 1199px){
  .index{
    height:calc(100% - 2.4rem);
  }
  .index .buttons{
    height:2rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -ms-flex-line-pack:distribute;
    align-content:space-around;
    padding:0 6.5%;
    margin-top: 0.15rem;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
  }
  .index .buttons a{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width:1.5rem;
    height:0.55rem;
    background:#3F455F;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    border-radius:0.04rem
  }
  .index .buttons a:hover{
    background:#69729b
  }
  .index .buttons a:nth-child(1){
    background:-webkit-gradient(linear, left top, left bottom, from(#D0A187), to(#AD7964));
    background:-webkit-linear-gradient(#D0A187, #AD7964);
    background:-o-linear-gradient(#D0A187, #AD7964);
    background:linear-gradient(#D0A187, #AD7964);
  }
  .index .buttons a:nth-child(1):hover{
    background:-webkit-gradient(linear, left top, left bottom, from(#debeac), to(#bf9685));
    background:-webkit-linear-gradient(#debeac, #bf9685);background:-o-linear-gradient(#debeac, #bf9685);
    background:linear-gradient(#debeac, #bf9685)
  }
  .index .buttons a img{
    width:0.25rem
  }
  .index .buttons a span{
    display:block;
    border-left:#fff 2px solid;
    height:0.2rem;
    margin-right:0.06rem
  }
  .index .buttons a div{width:0.8rem;color:#fff;line-height: 1;
  }
  .index .buttons a div p:nth-child(1){text-align:left;font-size:0.13rem
  }
  .index .buttons a div p:nth-child(2){font-size:0.15rem;white-space:nowrap;-webkit-transform:scale(0.6) translateX(-0.27rem);-ms-transform:scale(0.6) translateX(-0.27rem);transform:scale(0.6) translateX(-0.27rem)
  }
  .index .phoneShow{display:none !important
  }
  .index .downLoad{height:0.8rem;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:0; /*margin-top: 0.3rem;*/
  }
  .index .downLoad a{width:1.15rem;height:0.25rem
  }
  .index .downLoad a:nth-child(1){background:#B29881;border-bottom-right-radius:0;border-top-right-radius:0
  }
  .index .downLoad a:nth-child(2){border-top-left-radius:0;border-bottom-left-radius:0
  }
  .index .downLoad a>*{-webkit-transform:scale(0.9);-ms-transform:scale(0.9);transform:scale(0.9)
  }
  .index .downLoad a p{font-size:0.13rem;color:#fff
  }
  .index .tip{padding:0.4rem 0;font-size:0.12rem;color:#A8978D
  }
  .index .fav{font-size:0.12rem
  }
  .index .fav span{display:inline-block;padding:0.05rem 0.15rem;background:#B29881;border-radius:0.05rem
  }
  .index .fav span:hover{background:#c5b2a1
  }
  .index .kefu{display:block;position:fixed;-webkit-writing-mode:vertical-rl;-ms-writing-mode:tb-rl;writing-mode:vertical-rl;right:0;top:4.1rem;font-size:0.14rem;padding:0.15rem 0.1rem;background:#434554;-webkit-transform:translateX(-0.2rem);-ms-transform:translateX(-0.2rem);transform:translateX(-0.2rem);color:#B1987F;border-radius:0.05rem
  }
  .index .kefu:hover{background:#5a5c70;color:#c4b29f
  }
  .index .kefu img{width:0.2rem;vertical-align:initial
  }
  .index .kefu span{display:inline-block;-webkit-transform:translateX(-0.013rem);-ms-transform:translateX(-0.013rem);transform:translateX(-0.013rem)
  }
}
@media only screen and (min-width: 1199px){
  .index .buttons{width:5.05rem;height:3rem;-ms-flex-line-pack:justify;align-content:space-between;margin:auto;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between
  }
  .index .buttons>a{display:-webkit-box;display:-ms-flexbox;display:flex;width:2.45rem;height:0.90rem;background:#3F455F;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;border-radius:0.04rem
  }
  .index .buttons>a:hover{background:#69729b
  }
  .index .buttons>a img{width:0.47rem
  }
  .index .buttons>a span{display:block;border-left:#fff 0.03rem solid;height:0.35rem;margin:0.06rem
  }
  .index .buttons>a div{width:1.2rem;color:#fff
  }
  .index .buttons>a div p:nth-child(1){text-align:left;font-size:0.2rem
  }
  .index .buttons>a div p:nth-child(2){font-size:0.15rem;white-space:nowrap;-webkit-transform:scale(0.6) translateX(-0.27rem);-ms-transform:scale(0.6) translateX(-0.27rem);transform:scale(0.6) translateX(-0.27rem)
  }
  .index .buttons>a:nth-child(1){
    width:2.45rem;
    height:0.9rem;
    background:-webkit-gradient(linear, left top, left bottom, from(#D0A187), to(#AD7964));
    background:-webkit-linear-gradient(#D0A187, #AD7964);
    background:-o-linear-gradient(#D0A187, #AD7964);
    background:linear-gradient(#D0A187, #AD7964)
  }
  .index .buttons>a:nth-child(1):hover{
    background:-webkit-gradient(linear, left top, left bottom, from(#debeac), to(#bf9685));
    background:-webkit-linear-gradient(#debeac, #bf9685);background:-o-linear-gradient(#debeac, #bf9685);
    background:linear-gradient(#debeac, #bf9685)
  }
  .index .buttons>a:nth-child(1) img{
    width:0.47rem
  }
  .index .buttons>a:nth-child(1) span{
    display:block;
    border-left:#fff 0.03rem solid;
    height:0.35rem;
    margin-right:0.12rem
  }
  .index .buttons>a:nth-child(1) div{
    width:1.2rem;
    color:#fff;
  }
  .index .buttons>a:nth-child(1) div p:nth-child(1){
    text-align:left;
    font-size:0.2rem
  }
  .index .buttons>a:nth-child(1) div p:nth-child(2){
    font-size:0.1rem;
    white-space:nowrap;-webkit-transform:scale(0.9) translate(-0.05rem, 0.03rem);
    -ms-transform:scale(0.9) translate(-0.05rem, 0.03rem);
    transform:scale(0.9) translate(-0.05rem, 0.03rem)
  }
  .index .buttons>a:nth-child(2){
    width:2.45rem;height:0.9rem
  }
  .index .buttons>a:nth-child(2) img{
    width:0.47rem
  }
  .index .buttons>a:nth-child(2) span{
    display:block;
    border-left:#fff 0.03rem solid;
    height:0.35rem;
    margin-right:0.12rem
  }
  .index .buttons>a:nth-child(2) div{
    width:1.2rem;
    color:#fff
  }
  .index .buttons>a:nth-child(2) div p:nth-child(1){
    text-align:left;
    font-size:0.2rem
  }
  .index .buttons>a:nth-child(2) div p:nth-child(2){
    font-size:0.1rem;
    white-space:nowrap;
    -webkit-transform:scale(0.9) translate(-0.05rem, 0.03rem);
    -ms-transform:scale(0.9) translate(-0.05rem, 0.03rem);
    transform:scale(0.9) translate(-0.05rem, 0.03rem)
  }
  .index .downLoad{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column
  }
  .index .downLoad a{
    display:inline-flex;
    width:49%;height:100%;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    color:#ffffff
  }
  .index .downLoad a img{width:0.12rem
  }
  .index .downLoad a span{display:block;border-left:#fff 0.012rem solid;height:0.12rem;margin:0.03rem
  }
  .index .downLoad a p{text-align:left;font-size:0.06rem
  }
  .index .downLoad a:hover{background:#3f455f
  }
  .index .downLoad a:nth-child(1){background:#B29881;border-top-left-radius:0.04rem;width: 100%;
  }
  .index .downLoad a:nth-child(1):hover{background:#d9ccc0;width: 100%;
  }
  .index .downLoad a:nth-child(2){border-top-right-radius:0.04rem
  }
  .index .downLoad a:nth-child(2):hover{background:#69729b
  }
  .index .downLoad a:nth-child(3){border-bottom-left-radius:0.04rem;
  }
  .index .downLoad a:nth-child(3):hover{background:#69729b
  }
  .index .downLoad a:nth-child(4){background:#B29881;border-bottom-right-radius:0.04rem
  }
  .index .downLoad a:nth-child(4):hover{background:#d9ccc0
  }
  .index .pcShow{display:none
  }
  .index .tip{padding:0.3rem 0;font-size:0.12rem;color:#A8978D
  }
  .index .fav{font-size:0.12rem;padding-bottom:0.2rem
  }
  .index .fav span{display:inline-block;padding:0.05rem 0.15rem;background:#B29881;border-radius:0.05rem
  }
  .index .fav span:hover{background:#c5b2a1
  }
  .index .kefu{display:block;position:fixed;-webkit-writing-mode:vertical-rl;-ms-writing-mode:tb-rl;writing-mode:vertical-rl;right:0.15rem;top:2.3rem;font-size:0.14rem;padding:0.15rem 0.1rem;background:#434554;-webkit-transform:translateX(-0.2rem);-ms-transform:translateX(-0.2rem);transform:translateX(-0.2rem);color:#B1987F;border-radius:0.05rem
  }
  .index .kefu:hover{background:#5a5c70;color:#c4b29f
  }
  .index .kefu img{width:0.2rem;vertical-align:initial
  }
  .index .kefu span{display:inline-block;-webkit-transform:translateX(-0.013rem);-ms-transform:translateX(-0.013rem);transform:translateX(-0.013rem)
  }
}
